<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />

    <!-- JQUERY -->
    <script src="jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      href="bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <script
      src="fontawesome.min.js"
      crossorigin="anonymous"
    ></script>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <% if (localStyles) { %>
    <!-- Local Styles -->
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/<%=localStyles%>.css" />
    <% } %>

    <title><%=title%></title>
  </head>
  <body class="overflow-hidden">
    <!-- MAIN NAV -->
    <nav class="navbar fixed-top main-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><span class="brand-name"
            ><span class="text-danger">S</span>EE</span
          ></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
              <a class="navbar-brand" href="/">
              <span class="brand-name"
                ><span class="text-danger">S</span>EE</span
              >
              Cafe System
              </a>
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cash"
                  >Cash Register</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/reservations"
                  >Reservationts</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Printing Module</a
                >
              </li>
              <% if (userType == 'ADMIN' || userType == 'Manager') { %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/clients"
                    >Clients</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/products"
                    >Products</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/users"
                    >Users</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/devices"
                    >Devices</a
                  >
                </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout"
                  >Log Out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
